*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
*.aab
*.apk
/.idea/deploymentTargetDropDown.xml
/*.html
secrets.properties
/keystore_base64.txt
/service_account_base64.txt
/fastlane/play-store-credentials.json