*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
nul

# Fastlane
fastlane/report.xml
fastlane/README.md
fastlane/test_output/
fastlane/metadata/android/*/changelogs/[0-9]*.txt

# Python cache
nimaz-pro-data/scripts/__pycache__/

# Secrets & signing
*.keystore
secrets.properties
google-services.json
