name: Android Build & Deploy

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
          lfs: true  # Enable Git LFS checkout

      - name: Checkout LFS objects
        run: git lfs checkout

      - name: Switch to PR branch and setup Git
        run: |
          git checkout ${{ github.head_ref }}
          git config --global user.email "CI@bot.com"
          git config --global user.name "CI-Bot"

      - name: Setup JDK
        uses: actions/setup-java@v2.5.0
        with:
          distribution: temurin
          java-version: "17"

      - name: Set up ruby env
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1.4
          bundler-cache: true

      - name: Set execution flag for gradlew
        run: chmod +x gradlew

      - name: Decode Firebase Config
        uses: timheuer/base64-to-file@v1
        id: firebase_config
        with:
          fileName: "google-services.json"
          encodedString: ${{ secrets.FIREBASE_CONFIG }}

      - name: Move Firebase Config
        run: |
          mv ${{ steps.firebase_config.outputs.filePath }} app/google-services.json

      - name: Decode Service Account Key JSON File
        uses: timheuer/base64-to-file@v1
        id: service_account_json_file
        with:
          fileName: "serviceAccount.json"
          encodedString: ${{ secrets.PLAY_STORE_CONFIG_JSON }}

      - name: Decode Keystore File
        uses: timheuer/base64-to-file@v1
        id: android_keystore
        with:
          fileName: "android_keystore.keystore"
          encodedString: ${{ secrets.KEYSTORE_FILE }}

      - name: Build & deploy Android release
        run: bundle exec fastlane android deploy_internal
        env:
          KEYSTORE_FILE: ${{ steps.android_keystore.outputs.filePath }}
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS}}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          ANDROID_JSON_KEY_FILE: ${{ steps.service_account_json_file.outputs.filePath }}

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4.6.0
        with:
          name: assets
          path: |
            ${{ github.workspace }}/app/build/outputs/bundle/release